html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    background-size: 40.00px 40.00px;
}

body {
    margin: auto;
    max-width: 75%;
    box-shadow: 0px 10px 10px #00000038;
}


.disabled {
    opacity: .5;
}


.topbar-logo {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    position: relative;
    bottom: 2px;
}



.topbar-search-container {
    background: white;
    max-height: 25px;
    border: 2px solid gainsboro;
}


.topbar-links > a {
    line-height: 2;
}


.topbar-search-container > input {
    padding-left: 5px;
    background: unset;
    border: unset;
    border-radius: 5px;
    outline: none;
}



.search-history {
    position: fixed;
    background: white;
    border: 1px solid;
    width: 200px;
    max-height: 250px;
    overflow: auto;
    z-index: 3;
}


.search-history > p {
    margin: unset;
    font-weight: bold;
}
.search-history > a, .search-history > p {
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 5px;
    cursor: pointer;
}


.what {
    background: linear-gradient(gray,#3a3a3a);
    margin-left: 5px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    font-weight: bold;
}


.search-history > a:hover {
    background: linear-gradient(gray,#262626);
    color: white;
}


.discogs-tools {
    margin-bottom: 5px;
}

.discogs-tools > button {
    margin-right: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px 0px gray;
}


.copyable::after {
    content: '✓';
    display: none;
}


.track-num {
    font-weight: bold;
}





.track-duration {
    text-align: center;
}

.tracklist-container, .sidepanel-form-container {
    margin-top: 15px;
    background: linear-gradient(#f2f2f2,white);
    border: unset;
    border-top: 5px solid #767676;
}


.tracklist-container > legend {
    background: #767676;
    color: white;
    padding-right: 75px;
    border-top-right-radius: 25px;
    position: relative;
    bottom: 5px;
}

.sidepanel-cat-title {
    position: relative;
    top: 15px;
    left: 2px;
    font-weight: bold;
    color: #4b4b4b;
}


.tracklist {
    border-collapse: collapse;
    font-size: 12px;
    color: black;
}


.tracklist > tbody > tr > td, .tracklist > tbody > tr > th {
    padding-right: 25px;
    padding-left: 15px;
}

.tracklist > tbody > tr > td:nth-child(3) {
    text-align: center;
}



.play-btn {
    cursor: pointer;
    margin-left: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 25px;
    line-height: 2;
}


.play-btn > .progress {
    width: 0%;
    height: 100%;
    background: #ffcb0091;
    display: inline-block;
    position: relative;
}




.tracklist > tbody > tr {
    background: #e6e6e6;
    border-bottom: 1px solid gray;
}

.tracklist > tbody > tr:nth-child(2n+0) {
    background: #f5f5f5;
}



#curr-page {
    font-weight: bold;
}


.music-result-item, .music-details {
    display: flex;
    margin-top: 15px;
}

.music-result-item > .right-side, .music-details > .right-side {
    margin-left: 25px;
}

.music-details > .left-side {
    margin-left: 8.5px;
}


.album-title {
    margin: unset;
}


.album-year {
    color: gray;
}


.artist-name {
    display: block;
}


.album-bg {
    background-size: contain;
    background-repeat: no-repeat;
}


.album-links {
    display: flex;
    margin-top: 15px;
}


.explicit {
    float: right;
}


.filterby-artist-list {
    display: grid;
}


.filterby-artist-list > a:nth-child(2n+1) {
    background: linear-gradient(90deg,#4242421a,#fff0);
}



.copyrights {
    display: grid;
    margin-top: 15px;
}


.label {
    color: rgb(130, 130, 130);
    text-decoration: none;
}


.copyrights > a {
    color: black;
    text-decoration: none;
}

.copyrights > a:hover, .label:hover {
    color: #15539e;
    text-decoration: underline;
}



input[name="year"] {
    width: 75px;
}


input[name="custom-artist-field"] {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
}


.btn1 {
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
    border: 1px solid gainsboro;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 0px #7e7e7e;
}



.link {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}


.featured-artist {
    max-width: 175px;
}

.featured-artist::before {
    content: url('img/ui/user.png');
    position: relative;
    top: 2px;
    margin-right: 5px;  
}



.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.screenshots-info > h4 {
    margin-bottom: unset;
}
.screenshots-info > p {
    margin-top: unset;
}


.screenshot {
    height: 175px;
    border: 1px solid;
}

.screenshot:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.250);
}


.dl-artwork {
    text-align: center;
    display: block;
    margin-top: 5px;
}


.platform {
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
    width: 16px;
}


.album-links, .btn-container {
    border: 1px solid #b1b1b1;
    padding: 5px;
    border-radius: 5px;
}


.platforms-gap {
    margin-left: 15px;
    margin-right: 15px;
    width: .1px;
    border: 1px dashed rgb(177, 177, 177);
}


#view-on-qb {
    background-image: url('img/platform/qobuz.png');
}


#view-on-dc {
    background-image: url('img/platform/discogs.png');
}


#view-on-7d {
    background-image: url('img/platform/7d.png');
}


#view-on-bp {
    background-image: url('img/platform/beatport.png');
}


#view-on-juno {
    background-color: rgb(43, 43, 43);
    background-image: url('img/platform/juno.png');
}



#view-on-deezer {
    background-color: #196dd4;
    background-image: url('img/platform/deezer.png');
}


#view-on-apple {
    background-color: rgb(183, 42, 42);
    background-image: url('img/platform/apple.png');
}


#view-on-spotify {
    background-color: #8fc400;
    background-image: url('img/platform/spotify.png');
}



.album-links > a {
    margin-right: 5px;
    padding: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
}


.results-area {
    margin-top: 15px;
    margin-bottom: 25px;
}


.btn2 {
    border: 1px solid #c2c2c2;
    background: white;
}


.btn2:hover {
    border-color: black;
}


.btn2-hl {
    margin-right: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 2;
    background: linear-gradient(#fff,#51beff, #0067d5);
    box-shadow: 0px 1px 2px #000000c2;
    border: 1px solid #fff;
    border-radius: 3px;
    color: white;
}



.about > p {
    margin: unset;
}


.logo {
    height: 75px;
}


.topbar > a {
    text-decoration: none;
}


.page-ctrls > .container {
    display: flex;
    margin-top: 5px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.page-ctrls > .container > a {
    margin-right: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 2;
}


.page-content {
    margin-left: 15px;
}


.logo-title {
    color: black;
}


.logo-title::before {
    content: '';
    background-image: url('img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 15px;
    position: relative;
    top: 5px;
    margin-right: 5px;  
}



.side-panel {
    padding-left: 15px;
    padding-right: 1%;
    border-right: 1px solid gray;
}


.page {
    background-color: white;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}


.topbar-search {
    margin-left: 25px;
}

.topbar-search > form {
    margin: unset;
}

.topbar-links {
    margin-left: 50px;
}

.topbar-links > a {
    text-decoration: none;
    padding-right: 15px;
    font-weight: bold;
    color: gray
}

.topbar-links > a:hover {
    color: black;
}


.topbar {
    display: flex;
    background: linear-gradient(white, #f2f2f2);
    line-height: 1.75;
    border-bottom: 2px solid gainsboro;
    padding-left: 15px;
    padding-top: 10px;
}


.album-fg {
    height: 125px;
    scale: 1.16;
}